<h1>Fizz Buzz!</h1>

<% @nums.each do |num| %>
    <% if num % 6 == 0 && num % 2 == 0 %> 
        <h3><%= num %>: Fizz Buzz</h3>
    <% elsif num % 2 == 0 %> 
        <h3><%= num %>: Fizz</h3>
    <% elsif num % 6 == 0 %> 
        <h3><%= num %>: Buzz</h3>
    <% end %>
<% end %>
 